<ion-header>

  <ion-navbar>
    <ion-title>Météo de {{weatherInfos.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="mainInfos">
    <h1>{{weatherInfos.name}}</h1>
    <p id="mainDesc">{{weatherInfos.weather[0].description}}</p>
    <h1 id="mainTemp">{{weatherInfos.main.temp}}<span id="tempUnit">°C</span></h1>
  </div>
  <hr>
  <ion-list *ngIf="!error">
    <ion-spinner *ngIf="!weatherForecast" name="bubbles" class="spinner-calm"></ion-spinner>
    <ion-item *ngFor="let day of weatherForecast" class="forecastDay">
      <p class="weekDayName">{{day.dt | getWeekDay}}</p>
      <img
        [src]="day.weather[0].icon | getIcon"
        class="weekDayWeather"/>
      <p class="weekDayTemp">{{day.main.temp}}°C</p>
    </ion-item>
  </ion-list>
  <p *ngIf="error" class="error">Erreur lors de la récupération des informations météo</p>
</ion-content>
