<ion-header>
  <ion-navbar>
    <ion-title>
      Favoris
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h2>Ma position</h2>
  </div>
  <div *ngIf="!geolocationError && !localWeatherError">
    <ion-spinner *ngIf="!localWheather" name="bubbles"></ion-spinner>
    <weather-min
      #weatherMinComponent
      *ngIf="localWheather"
      [cityName]="localWheather.name"
      [weatherIcon]="localWheather.weather[0].icon"
      [temperature]="localWheather.main.temp"
      (click)="itemClick(-1)"></weather-min>
  </div>
  <p *ngIf="geolocationError" class="error">Erreur lors de la géolocalisaton</p>
  <p *ngIf="localWeatherError" class="error">Erreur lors de la récupération des informations météo</p>
  <div>
    <h2>Favoris</h2>
  </div>
  <div *ngIf="!favoriteCitiesWeatherError">
    <ion-spinner *ngIf="!favoriteCitiesWeather" name="bubbles"></ion-spinner>
    <p *ngIf="favoriteCitiesWeather?.length === 0" class="emptyList">Aucune ville favorite sélectionnée</p>
    <div *ngFor="let city of favoriteCitiesWeather; let i = index">
        <weather-min
          #weatherMinComponent
          [cityName]="city.name"
          [weatherIcon]="city.weather[0].icon"
          [temperature]="city.main.temp"
          (click)="itemClick(i)"></weather-min>
    </div>
  </div>
  <p *ngIf="favoriteCitiesWeatherError" class="error">Erreur lors de la récupération des informations météo</p>
  <ion-fab right bottom>
    <button ion-fab id="addButton" (click)="openAddModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
